In [20]:
import psycopg2
import pandas as pd
from getpass import getpass

In [10]:
password = getpass("Password for MSiA: ")
conn = psycopg2.connect(
    host="pg.analytics.northwestern.edu",
    database="2022-everything-team09",
    user="sms5736", #change here
    password=password)

print("Connected.")
cur = conn.cursor()

Password for MSiA: ········
Connected.

In [11]:
import pandas.io.sql as psql

In [15]:
df = psql.read_sql('SELECT * FROM public.\"skuinfo\";', conn)

C:\Users\nuke2\miniconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [25]:
df.head(20)

,sku,dept,classid,upc,style,color,size,packsize,vendor,brand,unknown
0,0,1,2 ...,3 ...,4 ...,5 ...,6 ...,7,8 ...,9 ...,10
1,3,6505,113 ...,000400000003000 ...,00 F55KT2 ...,WHISPERWHITE ...,P8EA ...,1,5119207 ...,TURNBURY ...,0
2,4,8101,002 ...,000400000004000 ...,22 615CZ4 ...,SPEARMI ...,S ...,1,3311144 ...,C A SPOR ...,0
3,5,7307,003 ...,000400000005000 ...,7LBS 245-01 ...,34 SILVER ...,KING ...,1,5510554 ...,BEAU IDE ...,0
4,8,3404,00B ...,000400000008000 ...,622 F05H84 ...,MORNING MI ...,2T ...,1,2912827 ...,HARTSTRI ...,0
5,15,2301,004 ...,000400000015000 ...,126 MDU461 ...,255CAMEL ...,12 ...,1,0023272 ...,JONES/LA ...,0
6,20,6006,711 ...,000400000020000 ...,669N26 ...,NEWPORT NA ...,090N ...,1,0060904 ...,BROWN SH ...,0
7,23,7101,002 ...,000400000023000 ...,18 TZMU01 ...,ICED BERRY ...,S ...,1,3313116 ...,EMMA JAM ...,0
8,24,3404,00B ...,000400000024000 ...,8A 9H8145 ...,428MEDIUM ST ...,2 ...,1,4810170 ...,AMERICAN ...,0
9,39,5301,006 ...,000400000039000 ...,56 CIMU03 ...,PRALINE ...,16 ND ...,1,6515973 ...,SIGRID O ...,0
10,45,7101,005 ...,000400000045000 ...,34 TZMU00 ...,BARK/SEASP ...,10 ...,1,3313116 ...,EMMA JAM ...,0
11,47,3404,001 ...,000400000047000 ...,37-30 445241 ...,GREEN ...,6X ...,1,0914938 ...,KIDS HEA ...,0
12,49,7106,312 ...,000400000049000 ...,01 KYRIE0 ...,BLACK LE ...,P286 ...,1,5010255 ...,ENZO ANG ...,0
13,50,5404,00B ...,000400000050000 ...,BE-AARK6691- ...,BLACK ...,5 ...,1,6713321 ...,LOLLYTOG ...,0
14,54,8101,006 ...,000400000054000 ...,74 F4483H ...,HEATHER/MI ...,SMALL ...,1,0814935 ...,FU DA IN ...,0
15,55,7106,505 ...,000400000055000 ...,ATO550NWSALV ...,DPUR/DPU F ...,090M ...,1,0614761 ...,NINE WES ...,0
16,58,7106,518 ...,000400000058000 ...,ILY260NWRAND ...,MED NATU L ...,075M ...,1,0614761 ...,None,0
17,65,5404,005 ...,000400000065000 ...,15-01 444542 ...,ASSORTED ...,5 ...,1,0934938 ...,KIDS HEA ...,0
18,68,7101,006 ...,000400000068000 ...,56 TZMU00 ...,PEACOCK ...,4 ...,1,3313116 ...,EMMA JAM ...,0
19,69,7106,915 ...,000400000069000 ...,WINDY ...,RED CALF ...,070M ...,1,4816434 ...,ME TOO ...,1

In [26]:
df = psql.read_sql("""SELECT orgprice, amt FROM public.\"trnsact\";""", conn)

C:\Users\nuke2\miniconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [41]:
# df.mean()
df[df.amt > 0].mean()

amt    24.867957
dtype: float64

In [21]:
# df = pd.read_csv("deptinfo.csv")
# df.to_sql("test_schema.dept_python_import", con=conn, if_exists="replace", index=False)

In [ ]:
# # Make the changes to the database persistent
# conn.commit()
# Close communication with the database
cur.close()
conn.close()