## Exercise 1

## Exercise 2

### Load and clean data

In [18]:
# Load csv lib
import csv

# Load in/create dict with data
# 'id': ['Name', 'Quizzes', 'Projects', 'Exams', 'Final_Grade']
df = {}
with open('exams.csv', 'r') as file:
    my_reader = csv.reader(file, delimiter = ',')
    for row in my_reader:
        df[row[0]] = row[1:]   
        
del df['id']

# Save column indices for easy access
Name = 0
Quizzes = 1
Projects = 2
Exams = 3
Final_Grade = 4
Letter_Grade = 5

# Get final grades
def get_fg(lst):
    return round(int(lst[Quizzes]) * .3 + 
                 int(lst[Projects]) * .3 + 
                 int(lst[Exams]) * .4, 2)
for i in df:
    df[i].append(get_fg(df[i]))
    
# Convert grades to ints
for i in df:
    df[i][Quizzes] = int(df[i][Quizzes])
    df[i][Projects] = int(df[i][Projects])
    df[i][Exams] = int(df[i][Exams])
    
# Get letter grades
def get_lg(lst):
    if lst[Final_Grade] >= 90:
        return "A"
    elif 80 <= lst[Final_Grade] < 90:
        return "B"
    elif 20 <= lst[Final_Grade] < 80:
        return "C"
    elif 10 <= lst[Final_Grade] < 20:
        return "D"
    elif 0 <= lst[Final_Grade] < 10:
        return "F"

for i in df:
    df[i].append(get_lg(df[i]))

### Create menu & menu functionality

In [1]:
# Load csv lib
import csv

# Create menu text
def print_menu():
    print("Grade System Menu:")
    print("1: Load Data (Do this first)")
    print("2: Print List of Student Names, Final Scores, and Letter Grade")
    print("3: Print Score Summary")
    print("4: Identify Values in Top 5%")
    print("5: Display Pie Chart of Final Letter Grades")
    print("6: Create Box Plot Parameters")
    print("7: Exit System")
    
# Load usable menu
def menu():
    # Pre-set vars
    rf = ["1", "2", "3", "4", "5", "6", "7"]
    print_menu()
    dl = False
    ui = None
    
    # Initiate while loop to use menu
    while ui != "7":
        # Prompt user for input
        ui = input("Please select a task: ")
        
        # Menu option 1        
        if ui == "1":
            # Load in/create dict with data
            # 'id': ['Name', 'Quizzes', 'Projects', 'Exams', 'Final_Grade']
            df = {}
            with open('exams.csv', 'r') as file:
                my_reader = csv.reader(file, delimiter = ',')
                for row in my_reader:
                    df[row[0]] = row[1:]   

            del df['id']

            # Save column indices for easy access
            Name = 0
            Quizzes = 1
            Projects = 2
            Exams = 3
            Final_Grade = 4
            Letter_Grade = 5
            
            # Get final grades
            def get_fg(lst):
                return round(int(lst[Quizzes]) * .3 + 
                             int(lst[Projects]) * .3 + 
                             int(lst[Exams]) * .4, 2)
            for i in df:
                df[i].append(get_fg(df[i]))

            # Convert grades to ints
            for i in df:
                df[i][Quizzes] = int(df[i][Quizzes])
                df[i][Projects] = int(df[i][Projects])
                df[i][Exams] = int(df[i][Exams])

            # Get letter grades
            def get_lg(lst):
                if lst[Final_Grade] >= 90:
                    return "A"
                elif 80 <= lst[Final_Grade] < 90:
                    return "B"
                elif 20 <= lst[Final_Grade] < 80:
                    return "C"
                elif 10 <= lst[Final_Grade] < 20:
                    return "D"
                elif 0 <= lst[Final_Grade] < 10:
                    return "F"
                
            for i in df:
                df[i].append(get_lg(df[i]))
            
            # Print/store results
            print("Data Loaded")
            dl = True
            
        # Menu option 2    
        elif ui == "2":
            # Check if data is loaded
            if dl == True:
                t_2 = []
                for i in df:
                    # Get student names, final score, and letter grade
                    t_2.append([df[i][x] for x in [Name, Final_Grade, Letter_Grade]])
                    t_2.sort(key=lambda x: x[0])
                for row in t_2:
                    print(row)
            else:
                print("Please load data before performing other tasks")
        
        # Menu option 3
        elif ui == "3":
            # Check if data is loaded
            if dl == True:
                pass
            else:
                print("Please load data before performing other tasks")  
        
        # Menu option 4
        elif ui == "4":
            # Check if data is loaded
            if dl == True:
                pass
            else:
                print("Please load data before performing other tasks")       
        
        # Menu option 5
        elif ui == "5":
            # Check if data is loaded
            if dl == True:
                pass
            else:
                print("Please load data before performing other tasks")  
        
        # Menu option 6
        elif ui == "6":
            # Check if data is loaded
            if dl == True:
                pass
            else:
                print("Please load data before performing other tasks")  
                
        # Inform user to put input a number from the menu        
        else:
            print("Error: Please pick an option from the menu above")
menu()

Grade System Menu:
1: Load Data (Do this first)
2: Print List of Student Names, Final Scores, and Letter Grade
3: Print Score Summary
4: Identify Values in Top 5%
5: Display Pie Chart of Final Letter Grades
6: Create Box Plot Parameters
7: Exit System
Please select a task: 1
Data Loaded
Please select a task: 2
['Abel', 52.1, 'C']
['Albina', 31.8, 'C']
['Alisha', 68.5, 'C']
['Alishia', 66.5, 'C']
['Allene', 81.0, 'B']
['Amber', 78.8, 'C']
['Ammie', 66.5, 'C']
['Arlene', 65.9, 'C']
['Arlette', 67.9, 'C']
['Art', 91.7, 'A']
['Bernardo', 45.0, 'C']
['Bette', 61.2, 'C']
['Blair', 91.4, 'A']
['Blondell', 32.3, 'C']
['Bobbye', 57.9, 'C']
['Brock', 75.2, 'C']
['Cammy', 59.8, 'C']
['Carma', 61.7, 'C']
['Carmelina', 58.9, 'C']
['Cecily', 48.2, 'C']
['Chanel', 49.0, 'C']
['Cory', 84.3, 'B']
['Danica', 56.2, 'C']
['Deeanna', 81.8, 'B']
['Delisa', 77.1, 'C']
['Delmy', 85.4, 'B']
['Devorah', 82.8, 'B']
['Dominque', 53.5, 'C']
['Donette', 59.8, 'C']
['Dyan', 99.7, 'A']
['Elly', 51.8, 'C']
['Elvera', 83.6, 'B']
['Elza', 71.0, 'C']
['Emerson', 63.5, 'C']
['Erick', 58.8, 'C']
['Ernie', 69.2, 'C']
['Ezekiel', 61.4, 'C']
['Fatima', 97.9, 'A']
['Fletcher', 73.9, 'C']
['Francine', 85.9, 'B']
['Gladys', 70.9, 'C']
['Graciela', 74.0, 'C']
['Ilene', 65.0, 'C']
['Jamal', 73.0, 'C']
['James', 50.2, 'C']
['Jina', 85.7, 'B']
['Johnetta', 93.7, 'A']
['Jose', 65.6, 'C']
['Josephine', 82.8, 'B']
['Kallie', 68.7, 'C']
['Kanisha', 62.6, 'C']
['Karl', 83.5, 'B']
['Kati', 80.2, 'B']
['Kiley', 55.8, 'C']
['Kris', 63.8, 'C']
['Lai', 69.1, 'C']
['Laurel', 90.8, 'A']
['Lavera', 54.3, 'C']
['Lenna', 66.7, 'C']
['Leota', 68.5, 'C']
['Lettie', 71.6, 'C']
['Lisha', 62.8, 'C']
['Lorrie', 65.8, 'C']
['Malinda', 60.4, 'C']
['Marjory', 74.6, 'C']
['Maryann', 58.2, 'C']
['Mattie', 71.4, 'C']
['Maurine', 74.5, 'C']
['Meaghan', 75.4, 'C']
['Micaela', 72.2, 'C']
['Minna', 44.2, 'C']
['Mitsue', 38.8, 'C']
['Moon', 74.2, 'C']
['Myra', 47.7, 'C']
['Natalie', 90.4, 'A']
['Penney', 64.6, 'C']
['Roxane', 60.1, 'C']
['Rozella', 68.9, 'C']
['Sabra', 48.1, 'C']
['Sage', 64.1, 'C']
['Shenika', 69.8, 'C']
['Simona', 67.4, 'C']
['Solange', 67.0, 'C']
['Stephaine', 68.1, 'C']
['Stephen', 73.6, 'C']
['Tamar', 60.9, 'C']
['Tammara', 77.7, 'C']
['Tawna', 51.4, 'C']
['Timothy', 78.0, 'C']
['Tonette', 45.2, 'C']
['Tyra', 74.6, 'C']
['Valentine', 81.6, 'B']
['Vallie', 87.8, 'B']
['Veronika', 82.7, 'B']
['Viva', 91.9, 'A']
['Wilda', 80.4, 'B']
['Willard', 68.6, 'C']
['Willow', 92.7, 'A']
['Youlanda', 83.6, 'B']
['Yuki', 80.5, 'B']
Please select a task: 7

In [7]:
df

       id       Name  Quizzes  Projects  Exams  Final Grade Letter Grade
0     ID1      James       43        51     55         50.2            C
1     ID2  Josephine       76        84     87         82.8            B
2     ID3        Art       89        94     92         91.7            A
3     ID4      Lenna       70        67     64         66.7            C
4     ID5    Donette       63        59     58         59.8            C
..    ...        ...      ...       ...    ...          ...          ...
95   ID96      Carma       64        59     62         61.7            C
96   ID97    Malinda       66        62     55         60.4            C
97   ID98    Natalie       95        85     91         90.4            A
98   ID99      Lisha       69        67     55         62.8            C
99  ID100     Arlene       58        71     68         65.9            C

[100 rows x 7 columns]

## Exercise 3