## Exercise 1

sys.version_info(major=3, minor=7, micro=4, releaselevel='final', serial=0)

## Exercise 2

### Load and clean data

In [8]:
# Load needed libs
import pandas as pd
import numpy as np

# Read/Import exams.csv
df = pd.read_csv(r"exams.csv")

# Create data structure to store grades
grades = {range(90, 101): "A",
          range(80, 90): "B",
          range(20, 80): "C",
          range(10, 20): "D",
          range(0, 10): "F"}

# Create Final Grade column
df["Final Grade"] = df["Quizzes"] * .3 + df["Projects"] * .3 + df["Exams"] * .4

# Create Letter Grade column
def get_lg(row):
    for i in list(grades.keys()):
        if row in i:
            return grades[i]

x = df["Final Grade"].map(np.floor)
x = x.map(int)
df["Letter Grade"] = x.map(get_lg)

### Create menu functionality

### Create menu

In [29]:
# Create menu text
def print_menu():
    print("Grade System Menu:")
    print("1: Load Data (Do this first)")
    print("2: Print List of Student Names, Final Scores, and Letter Grade")
    print("3: Print Score Summary")
    print("4: Identify Values in Top 5%")
    print("5: Display Pie Chart of Final Letter Grades")
    print("6: Create Box Plot Parameters")
    print("7: Exit System")
    
# Load usable menu
def menu(df):
    print_menu()
    ui = None
    while ui != "7":
        ui = input("Please select a task: ")
        
        
menu(df)

Grade System Menu:
1: Load Data (Do this first)
2: Print List of Student Names, Final Scores, and Letter Grade
3: Print Score Summary
4: Identify Values in Top 5%
5: Display Pie Chart of Final Letter Grades
6: Create Box Plot Parameters
7: Exit System
Please select a task: 5
Please select a task: 7

In [7]:
df

       id       Name  Quizzes  Projects  Exams  Final Grade Letter Grade
0     ID1      James       43        51     55         50.2            C
1     ID2  Josephine       76        84     87         82.8            B
2     ID3        Art       89        94     92         91.7            A
3     ID4      Lenna       70        67     64         66.7            C
4     ID5    Donette       63        59     58         59.8            C
..    ...        ...      ...       ...    ...          ...          ...
95   ID96      Carma       64        59     62         61.7            C
96   ID97    Malinda       66        62     55         60.4            C
97   ID98    Natalie       95        85     91         90.4            A
98   ID99      Lisha       69        67     55         62.8            C
99  ID100     Arlene       58        71     68         65.9            C

[100 rows x 7 columns]

## Exercise 3