# Strings - immutable

https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

In [3]:
# Initialization
x = "A sample string"
y = 'Another String'
z = '''Wow ''string'' '''
v = str(123)

print(v)
type(v)

123

str

#### strings are immutable

In [1]:
x = str()
print(id(x))
x = 'ABCD'
print(id(x))

2473283887856
2473350847408

In [5]:
x = 'abc'
#x[0] = 'W'

x.startswith('bc')

TypeError: 'str' object does not support item assignment

##### Built In Functions #####

In [6]:
len(x)

3

In [ ]:
id(x)

In [ ]:
type(y)

In [ ]:
del x

In [12]:
max('ab','cd','0x')

'cd'

##### Operators 
              +	   *    []      [ : ]    in     not in    r/R   %

In [13]:
x = 'blah '
y = 'foo'
print(x + y)
'-' * 100

blah foo

'----------------------------------------------------------------------------------------------------'

In [15]:
[1,2,3,4] * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [16]:
import numpy as np

L = np.array([1,2,3,4])

In [17]:
L

array([1, 2, 3, 4])

In [18]:
L * 2

array([2, 4, 6, 8])

#### Slicing

In [ ]:
x = 'ABCD'
x[0:2] + x[3:]

In [19]:
x = "A sample string"
x[0]
x[0:5:2]
x[-1]
x[-1:2]

a = '1234567890'
a[:]
a[2:4]
a[-2:-1]
a[8:4:-1]

'9876'

In [21]:
x = "A sample string"
x[::-1]

'gnirts elpmas A'

In [ ]:
x = "Anan"
a,b,c,d = x
print(a,b,c,d)

In [ ]:
v = 'MSiA 422'
v[::-1]

### str class
+ capitalizes
* upper
* find
* count
* find
* index
* isnumeric
* join
* split
* startwith
+ format
* ...

In [22]:
str1 = 'abc'

str1.upper()

'ABC'

In [25]:
x = 'wow'
#str.find(x,'o')
x.find('oW')

-1

In [26]:
# OBJECT methods

x = "1234"
y = "abcd"

trantable = str.maketrans(x,y)

s = "Hi world 1237"
s.translate(trantable)

'Hi world abc7'

In [30]:
'1 2 3 4'.split()

['1', '2', '3', '4']

In [ ]:
s = "100 Anan 80 M"
id,name,grade,gender = s.split()

In [ ]:
print(name)
id

In [ ]:
s = 'today is the first warm day in the year'

In [ ]:
s.split()

In [ ]:
s = ";"
seq = ["a", "b", "c"] # This is sequence of strings.
print(s.join( seq ))

In [ ]:
str.join('-',seq)

### interpolation

In [31]:
print("My name is %s and weight is %d kg!" % ('Zara', 21))

My name is Zara and weight is 21 kg!

#### Format

In [32]:
t = "My name is: {0} and weight is {1} kg!".format('Mike','21')
print(t)

My name is: Mike and weight is 21 kg!

In [ ]:
y = x
y = 'z'
print("x:%d   y:%d" % (id(x),id(y)))
y

In [ ]:
X = 'It is %s ... version %d'

In [ ]:
X

In [ ]:
X % ('Python',3)

## Split and Join

In [9]:
''.join(['1','2','3'])
#str.split('1 2 3')
#"anan teacher MSIA 1".split()

'123'

In [10]:
help(split)

NameError: name 'split' is not defined