In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Sam\Desktop\skuinfo.csv", sep = "delimiter", header = None)

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [2]:
drops = []

for i, v in enumerate(df[0]):
    if df.iloc[i, 0].count(',') > 10:
        drops.append(i)
        
len(drops)

8148

In [3]:
df = df.drop(drops)

In [4]:
drops = []

for i, v in enumerate(df[0]):
    if df.iloc[i, 0].count(',') > 10:
        drops.append(i)
        
len(drops)

0

In [5]:
df

                                                         0
0        3,6505,113,000400000003000,00    F55KT2,WHISPE...
1        4,8101,002,000400000004000,22    615CZ4,SPEARM...
2        5,7307,003,000400000005000,7LBS  245-01,34 SIL...
3        8,3404,00B,000400000008000,622   F05H84,MORNIN...
4        15,2301,004,000400000015000,126   MDU461,255CA...
...                                                    ...
1564173  9999973,3103,009,000400009973999,702   S3JAYV,...
1564174  9999974,9801,726,000400009974999,      G50171,...
1564175  9999991,2301,004,000400009991999,026   MDU201,...
1564176  9999992,1202,402,000400009992999,14    F52UN1,...
1564177  9999997,2503,111,000400009997999,1     1XKBGO,...

[1556030 rows x 1 columns]

In [6]:
df = df[0].str.split(',', expand=True)

In [7]:
df[0] = df[0].astype(int)
df[1] = df[1].astype(int)
df[7] = df[7].astype(int)

def strp(x):
    return x.strip()

for i, v in enumerate(df.dtypes):
    if v not in ["int32", "int64"]:
        df[i] = df[i].apply(strp)

In [8]:
df.dtypes

0      int32
1      int32
2     object
3     object
4     object
5     object
6     object
7      int32
8     object
9     object
10    object
dtype: object

In [9]:
df[10].unique()

array(['0', '1'], dtype=object)

In [10]:
df.to_csv(r"C:\Users\Sam\Desktop\skuinfo_clean.csv", index=False)