In [4]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Sam\Desktop\skuinfo.csv", sep = "delimiter", header = None)

C:\Users\Sam\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [5]:
drops = []

for i, v in enumerate(df[0]):
    if df.iloc[i, 0].count(',') > 10:
        drops.append(i)
        
len(drops)

8148

In [6]:
df = df.drop(drops)

In [7]:
drops = []

for i, v in enumerate(df[0]):
    if df.iloc[i, 0].count(',') > 10:
        drops.append(i)
        
len(drops)

0

In [8]:
df

                                                         0
0        3,6505,113,000400000003000,00    F55KT2,WHISPE...
1        4,8101,002,000400000004000,22    615CZ4,SPEARM...
2        5,7307,003,000400000005000,7LBS  245-01,34 SIL...
3        8,3404,00B,000400000008000,622   F05H84,MORNIN...
4        15,2301,004,000400000015000,126   MDU461,255CA...
...                                                    ...
1564173  9999973,3103,009,000400009973999,702   S3JAYV,...
1564174  9999974,9801,726,000400009974999,      G50171,...
1564175  9999991,2301,004,000400009991999,026   MDU201,...
1564176  9999992,1202,402,000400009992999,14    F52UN1,...
1564177  9999997,2503,111,000400009997999,1     1XKBGO,...

[1556030 rows x 1 columns]

In [9]:
df = df[0].str.split(',', expand=True)

In [10]:
df[0] = df[0].astype(int)
df[1] = df[1].astype(int)
df[7] = df[7].astype(int)

def strp(x):
    return x.strip()

for i, v in enumerate(df.dtypes):
    if v not in ["int32", "int64"]:
        df[i] = df[i].apply(strp)

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,3,6505,113,000400000003000,00 F55KT2,WHISPERWHITE,P8EA,1,5119207,TURNBURY,0
1,4,8101,002,000400000004000,22 615CZ4,SPEARMI,S,1,3311144,C A SPOR,0
2,5,7307,003,000400000005000,7LBS 245-01,34 SILVER,KING,1,5510554,BEAU IDE,0
3,8,3404,00B,000400000008000,622 F05H84,MORNING MI,2T,1,2912827,HARTSTRI,0
4,15,2301,004,000400000015000,126 MDU461,255CAMEL,12,1,0023272,JONES/LA,0
...,...,...,...,...,...,...,...,...,...,...,...
1564173,9999973,3103,009,000400009973999,702 S3JAYV,STONE,4,1,6813115,POLO JEA,0
1564174,9999974,9801,726,000400009974999,G50171,NAVY MULTI,10,1,9212766,GABAR IN,0
1564175,9999991,2301,004,000400009991999,026 MDU201,618RED ROSE,8,1,0023272,JONES/LA,0
1564176,9999992,1202,402,000400009992999,14 F52UN1,PALE JADE,L,1,1446212,CABERNET,0
1564177,9999997,2503,111,000400009997999,1 1XKBGO,210CHOPNK,7,1,8515392,RAMPAGE,0

In [12]:
df.to_csv(r"C:\Users\Sam\Desktop\skuinfo_clean.csv", index=False)